.abPageAbout,.aboutAdditionalSection {
     position: relative;
     padding: 40px 0 0 0;
 }



.aboutContent {
     margin: 16px 0 0 0px;
}

.aboutContent .subTitle {
     font-weight: 600;
     margin-bottom: 31px;
}

.aboutContent .secTitle {
     font-size: 48px;
     line-height: 58px;
     overflow: hidden;
     margin: 0 0 27px;
     text-transform: uppercase;
     color: #94701d;
}

.aboutContent p {
     margin: 0 0 20px 0;
     text-align: justify;
     line-height: 2.2rem;
 }
 

 .abVideo {
     position: relative;
     overflow: hidden;
     border-radius: 6px;
 }

 .abVideo img {
     max-width: 100%;
     height: auto;
     border-radius: 6px;
 }
 .governanceContent{
     font-size: 1.25rem;
     font-weight: 400;
     line-height: 2.2rem;
 }

 .governanceList{
     list-style: none;


 }


 .governanceList li{
     margin: 16px 0 16px 0;
     padding-bottom: 16px;
     border-bottom: 1px solid #E6BE7E;
  
 }
 
 
 .governanceList li:first-child{
     margin-top: 0px !important;   
     
 }
 .governanceList li a{
     color:#000;
     font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
 }

 .governanceList li a svg{
     color:#94701d;
     margin-right: 16px;
 
 }

 .governanceList li a:hover{
   
  color:#94701d;
  transition: 0.3s;
 }

 .visionList{
    margin-top: 16px;
    
    padding-left: 0;
    line-height: 1.75rem;
    list-style-image: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>';
 }

 .visionList li{
    margin-bottom: 24px;
    margin-left: 32px;
    padding-left: 16px;
 }

 .visionList > li > .icon{
    /* margin-left: -48px; */
  
 }