@import 'bootstrap.min.css';
@import 'jost-font.css';

@import 'dashboard.css';

@import 'theme.css';

@import 'widgets.css';




/*------ 1. GENERAL ------*/
/*------ 2. HEADER  ------*/


/*------ DASHBOARD  ------*/



/* 1. GENERAL */

body {
     font-family: Jost, 'serif';
     font-size: 1em;
     font-weight: 400;
}

/* Buttons */



/* 2.1 NavBar */
.navbar {
     padding: 0;
}

.bg-dark {
     background-color: #000 !important;
}

.navbar-brand {
     padding: 0;
     margin: 0;
}

.navbar-brand img {
     height: 100px;
     padding-left: 16px;
}

.navbar-secondary-logo img {
     height: 100px;
     padding-left: 16px;
}

.navbar-header {
     color: #fff;
     text-align: center;
}

.site-title {
     text-transform: uppercase;
     font-weight: 700;
     padding-bottom: 0;
     margin-bottom: 0;
     font-size: 1.3em;
     color: #FFE599;
}

.site-subtitle {
     font-weight: 400;
     font-size: 1.1em;
     color: #FFE599;
}

.site-tagline {
     font-size: 0.9em;
     color: #FFE599;
}

/* 2.2 SECONDARY NAVBAR */

.secondary-navbar {
     background-color: #94701d !important;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 0.05em;
     padding: 0.5rem;
     margin: 0;
}

.navbar-nav {
     padding: 0;
     margin: 0;
}

.navbar-nav>.nav-item>.nav-link {
     color: #fff;
}

.navbar-nav>.nav-item>.nav-link:hover {
     background-color: #000 !important;
     color: #E6BE7E;
     transition: all 0.4s ease;
}

.navbar-nav>.nav-item>.nav-link.active {
     background-color: #000 !important;
     color: #E6BE7E;
}

.sidebar-menu {
     background-color: #E6BE7E;
}

.header-section {
     background-color: #E6BE7E;
}

.section-heading {
     margin: 0;
}

.heading-icon {
     background-color: #94701D;
     height: 100%;
}


.gallery-container {
     background-color: #F7EDE2;
}

/* ---- NEWS */
.news-container {
     /* border:1px solid #94701D;
     padding: 20px;
     height: 100%; */
}

.news-item {
     padding-bottom: 15px;
     border-bottom: 1px solid #E6BE7E;
     margin-bottom: 12px;
}

/* .news-item:last-child{
     border-bottom: 0;
     margin-bottom: 0;
} */

.news-title>a,
.document-title>a {
     text-decoration: none;
     font-weight: 500;
     color: #000;
}

.news-title>a:hover,
.document-title>a:hover {
     color: #94701D;

     transition: all 0.4s ease;
}

.news-excerpt {
     font-size: 0.8rem;
     font-weight: 500;
}

.newsTitle {
     text-transform: lowercase;
}

/*----- CAROUSEL -----*/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
     /* margin-bottom: 4rem; */
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
     bottom: 3rem;
     z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
     height: 38rem;
}

.birthday-carousel-item {
     height: 10rem;
}

.birthday-card {
     position: absolute;
     left: 15%;
     right: 15%;
     text-align: center;
}

.birthdaycarousel .carousel-indicators [data-bs-target] {
     color: #000;
}

/* NEWS SECTION */
.featuredNewsExcerpt {
     text-align: justify;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     margin-bottom: 0px;
}

.newsExcerpt {
     text-align: justify;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     margin-bottom: 0px;
     font-size: 0.875rem;
}

.cmd-message-text {
     text-align: justify;
     font-size: 1.1rem;
     line-height: 2rem;
     text-align: justify;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 8;
     -webkit-box-orient: vertical;
}



/* RESPONSIVE CSS
   -------------------------------------------------- */

@media (min-width: 40em) {

     /* Bump up size of carousel content */
     .carousel-caption p {
          margin-bottom: 1.25rem;
          font-size: 1.25rem;
          line-height: 1.4;
     }


}

/** SPINNER **/

.spinner-div {
     position: absolute;
     margin: auto;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     display: none;
     background: rgba(255, 255, 255, 0.8)
}

/* FOOTER */

.footer-logo-item>img {
     height: 45px;
}

.copyright-section {
     background-color: #94701d;
     color: #fff;
}

.copyright {
     font-size: 0.9rem;
}

.visitors-count {
     font-size: 1.2rem;
     font-weight: 600;
}

.disclaimer-section {
     font-size: 0.8rem;
}

.vertical-seperator {
     border-right: 1px solid #94701D;
     padding-right: 16px;
}

.page_header_default::before {
     position: absolute;
     content: "";
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: #F7EDE2;
     opacity: 0.85;
     z-index: 1;
}
.page_header_default {
     position: relative;
     min-height: 160px;
     padding: 50px 0px 50px;
     overflow: hidden;
     align-items: center;
 }

 .page_header_default .page_header_content {
     position: relative;
     z-index: 3;
     text-align: center;
 }

 .auto-container, .auto_container {
     position: static;
     max-width: 1200px;
     padding: 0px 15px;
     margin: 0 auto;
 }

 .page_header_default .parallax_cover {
     position: absolute;
     top: 0;
     min-height: 300px;
     height: 100%;
     width: 100%;
     left: 0;
 }

 .page_header_default .page_header_content .banner_title_inner {
     position: relative;
     margin-bottom: 20px;
 }

 .breadcrumbs {
     position: relative;
     display: inline-block;
 }
 .breadcrumbs ul {
     position: relative;
     padding: 0;
 }

 .breadcrumbs ul li {
     margin-right: 30px;
     color:#94701D;
     position: relative;
     font-family: var(--creote-family-one);
     font-size: 12px;
     line-height: 18px;
     font-weight: 600;
     text-transform: uppercase;
 }
/* 
 %3Csvg xmlns='http://www.w3.org/2000/svg' fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"%3E
 %3Cpath stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /%3E
 %3C/svg%3E */


 
 .breadcrumbs ul li:before {
     position: absolute;
     content:  '|';
     right: -19px;
     top: -2px;
     color:#94701D;
     font-size: 14px;
 }

 .breadcrumbs ul li:last-child:before {
     content:  '';
}
 .breadcrumbs ul li:last-child {
margin-right:  0;

 }
 

 
.breadcrumbs ul li a {
   position: relative;
   text-decoration: none;
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
   padding-right: 30px;
   color:#94701D
}


 .breadcrumbs ul li a:last-child {
     padding-right: 0px;
     font-weight: bold;
     
 }


 .title_page{
     font-size:2em;
     font-weight: bolder;
 }