
.breadcrumbs {
     position: relative;
     display: inline-block;
}

.breadcrumbs ul {
     position: relative;
     padding: 0;
}

.breadcrumbs ul li {
     margin-right: 30px;
     color: #94701D;
     position: relative;
     
     font-size: 1rem;
     line-height: 18px;
     font-weight: 600;
     text-transform: uppercase;
}

/* 
 %3Csvg xmlns='http://www.w3.org/2000/svg' fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"%3E
 %3Cpath stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /%3E
 %3C/svg%3E */



.breadcrumbs ul li:before {
     position: absolute;
     content: '/';
     right: -19px;
     top: -2px;
     color: #94701D;
    
}

.breadcrumbs ul li:last-child:before {
     content: '';
}

.breadcrumbs ul li:last-child {
     margin-right: 0;

}



.breadcrumbs ul li a {
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
     padding-right: 30px;
     color: #94701D
}

.breadcrumbs ul li a:last-child {
     padding-right: 0px;
     font-weight: bold;

}
